In [1]:
import pandas as pd
data = pd.read_csv('project.csv')

In [2]:
import numpy as np
from matplotlib import pyplot as plt

In [3]:
data.columns

Index(['id', 'log_price', 'property_type', 'room_type', 'amenities',
       'accommodates', 'bathrooms', 'bed_type', 'cancellation_policy',
       'cleaning_fee', 'city', 'description', 'first_review',
       'host_has_profile_pic', 'host_identity_verified', 'host_response_rate',
       'host_since', 'instant_bookable', 'last_review', 'latitude',
       'longitude', 'name', 'neighbourhood', 'number_of_reviews',
       'review_scores_rating', 'thumbnail_url', 'zipcode', 'bedrooms', 'beds'],
      dtype='object')

In [4]:
data.groupby('property_type')['property_type'].agg('count')

property_type
Apartment          49003
Bed & Breakfast      462
Boat                  65
Boutique hotel        69
Bungalow             366
Cabin                 72
Camper/RV             94
Condominium         2658
Dorm                 142
Guest suite          123
Guesthouse           498
Hostel                70
House              16511
In-law                71
Loft                1244
Other                607
Timeshare             77
Townhouse           1692
Villa                179
Name: property_type, dtype: int64

In [5]:
data.groupby('bed_type')['bed_type'].agg('count')

bed_type
Airbed             471
Couch              267
Futon              751
Pull-out Sofa      583
Real Bed         71931
Name: bed_type, dtype: int64

In [6]:
data.groupby('room_type')['room_type'].agg('count')

room_type
Entire home/apt    41246
Private room       30597
Shared room         2160
Name: room_type, dtype: int64

In [7]:
data.groupby('cancellation_policy')['cancellation_policy'].agg('count')

cancellation_policy
flexible    22509
moderate    19037
strict      32457
Name: cancellation_policy, dtype: int64

In [8]:
data.groupby('city')['city'].agg('count')

city
Boston      3467
Chicago     3718
DC          5684
LA         22382
NYC        32328
SF          6424
Name: city, dtype: int64

In [9]:
df1 = data.drop(['id','amenities','description','first_review', 'host_has_profile_pic','host_since', 'name',
                 'last_review', 'latitude', 'longitude', 'number_of_reviews','thumbnail_url', 'neighbourhood', 
                 'host_identity_verified','zipcode','host_response_rate', 'review_scores_rating'],axis = 'columns')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74003 entries, 0 to 74002
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   log_price            74003 non-null  float64
 1   property_type        74003 non-null  object
 2   room_type            74003 non-null  object
 3   accommodates         74003 non-null  int64
 4   bathrooms            73804 non-null  float64
 5   bed_type             74003 non-null  object
 6   cancellation_policy  74003 non-null  object
 7   cleaning_fee         74003 non-null  bool
 8   city                 74003 non-null  object
 9   instant_bookable     74003 non-null  object
 10  bedrooms             73912 non-null  float64
 11  beds                 73872 non-null  float64
dtypes: bool(1), float64(4), int64(1), object(6)
memory usage: 6.3+ MB

In [10]:
df1.isnull().sum()

log_price                0
property_type            0
room_type                0
accommodates             0
bathrooms              199
bed_type                 0
cancellation_policy      0
cleaning_fee             0
city                     0
instant_bookable         0
bedrooms                91
beds                   131
dtype: int64

In [11]:
df2 = df1.dropna()
df2.isnull().sum()

log_price              0
property_type          0
room_type              0
accommodates           0
bathrooms              0
bed_type               0
cancellation_policy    0
cleaning_fee           0
city                   0
instant_bookable       0
bedrooms               0
beds                   0
dtype: int64

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73659 entries, 0 to 74002
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   log_price            73659 non-null  float64
 1   property_type        73659 non-null  object
 2   room_type            73659 non-null  object
 3   accommodates         73659 non-null  int64
 4   bathrooms            73659 non-null  float64
 5   bed_type             73659 non-null  object
 6   cancellation_policy  73659 non-null  object
 7   cleaning_fee         73659 non-null  bool
 8   city                 73659 non-null  object
 9   instant_bookable     73659 non-null  object
 10  bedrooms             73659 non-null  float64
 11  beds                 73659 non-null  float64
dtypes: bool(1), float64(4), int64(1), object(6)
memory usage: 6.8+ MB

In [13]:
boolean_columns = ['instant_bookable']

# Convert 't' and 'f' to boolean values for each column
for column in boolean_columns:
  df2[column] = df2[column].map({'t': 1, 'f': 0})

C:\Users\Computer World\AppData\Local\Temp\ipykernel_16572\4037507724.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = df2[column].map({'t': 1, 'f': 0})

In [14]:
df2.columns

Index(['log_price', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bed_type', 'cancellation_policy', 'cleaning_fee', 'city',
       'instant_bookable', 'bedrooms', 'beds'],
      dtype='object')

In [15]:
df2.head(20)

,log_price,property_type,room_type,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,instant_bookable,bedrooms,beds
0,5.010635,Apartment,Entire home/apt,3,1.0,Real Bed,strict,True,NYC,0,1.0,1.0
1,5.129899,Apartment,Entire home/apt,7,1.0,Real Bed,strict,True,NYC,1,3.0,3.0
2,4.976734,Apartment,Entire home/apt,5,1.0,Real Bed,moderate,True,NYC,1,1.0,3.0
3,6.620073,House,Entire home/apt,4,1.0,Real Bed,flexible,True,SF,0,2.0,2.0
4,4.744932,Apartment,Entire home/apt,2,1.0,Real Bed,moderate,True,DC,1,0.0,1.0
5,4.442651,Apartment,Private room,2,1.0,Real Bed,strict,True,SF,1,1.0,1.0
6,4.418841,Apartment,Entire home/apt,3,1.0,Real Bed,moderate,True,LA,1,1.0,1.0
7,4.787492,Condominium,Entire home/apt,2,1.0,Real Bed,moderate,True,LA,0,1.0,1.0
8,4.787492,House,Private room,2,1.0,Real Bed,moderate,True,SF,0,1.0,1.0
9,3.583519,House,Private room,2,1.0,Real Bed,moderate,True,LA,1,1.0,1.0
10,4.605170,Apartment,Private room,2,1.0,Real Bed,strict,True,NYC,0,1.0,1.0
11,5.010635,House,Entire home/apt,4,1.5,Real Bed,strict,True,LA,0,2.0,2.0
12,4.248495,Apartment,Private room,2,1.0,Real Bed,flexible,True,LA,0,1.0,1.0
13,5.298317,Apartment,Entire home/apt,6,1.5,Real Bed,strict,True,DC,1,2.0,3.0
14,4.955827,Apartment,Entire home/apt,2,1.0,Real Bed,strict,True,LA,0,1.0,1.0
15,4.094345,Apartment,Private room,2,1.5,Real Bed,moderate,True,Chicago,0,1.0,1.0
16,4.317488,Loft,Private room,2,1.0,Real Bed,strict,False,Chicago,0,1.0,1.0
17,4.595120,Townhouse,Private room,2,2.0,Real Bed,strict,True,Boston,0,1.0,1.0
18,4.882802,Apartment,Entire home/apt,2,1.0,Real Bed,strict,True,NYC,0,1.0,2.0
19,4.595120,House,Entire home/apt,8,1.0,Real Bed,strict,True,NYC,1,3.0,3.0

In [16]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df2['cancellation_policy'] = label_encoder.fit_transform(df2['cancellation_policy'])

df2['property_type'] = label_encoder.fit_transform(df2['property_type'])
df2['room_type'] = label_encoder.fit_transform(df2['room_type'])
df2['city'] = label_encoder.fit_transform(df2['city'])
df2['bed_type'] = label_encoder.fit_transform(df2['bed_type'])

df2.head(20)

C:\Users\Computer World\AppData\Local\Temp\ipykernel_16572\1428251197.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cancellation_policy'] = label_encoder.fit_transform(df2['cancellation_policy'])
C:\Users\Computer World\AppData\Local\Temp\ipykernel_16572\1428251197.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['property_type'] = label_encoder.fit_transform(df2['property_type'])
C:\Users\Computer World\AppData\Local\Temp\ipykernel_16572\1428251197.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['room_type'] = label_encoder.fit_transform(df2['room_type'])
C:\Users\Computer World\AppData\Local\Temp\ipykernel_16572\1428251197.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['city'] = label_encoder.fit_transform(df2['city'])
C:\Users\Computer World\AppData\Local\Temp\ipykernel_16572\1428251197.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['bed_type'] = label_encoder.fit_transform(df2['bed_type'])

,log_price,property_type,room_type,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,instant_bookable,bedrooms,beds
0,5.010635,0,0,3,1.0,4,2,True,4,0,1.0,1.0
1,5.129899,0,0,7,1.0,4,2,True,4,1,3.0,3.0
2,4.976734,0,0,5,1.0,4,1,True,4,1,1.0,3.0
3,6.620073,12,0,4,1.0,4,0,True,5,0,2.0,2.0
4,4.744932,0,0,2,1.0,4,1,True,2,1,0.0,1.0
5,4.442651,0,1,2,1.0,4,2,True,5,1,1.0,1.0
6,4.418841,0,0,3,1.0,4,1,True,3,1,1.0,1.0
7,4.787492,7,0,2,1.0,4,1,True,3,0,1.0,1.0
8,4.787492,12,1,2,1.0,4,1,True,5,0,1.0,1.0
9,3.583519,12,1,2,1.0,4,1,True,3,1,1.0,1.0
10,4.605170,0,1,2,1.0,4,2,True,4,0,1.0,1.0
11,5.010635,12,0,4,1.5,4,2,True,3,0,2.0,2.0
12,4.248495,0,1,2,1.0,4,0,True,3,0,1.0,1.0
13,5.298317,0,0,6,1.5,4,2,True,2,1,2.0,3.0
14,4.955827,0,0,2,1.0,4,2,True,3,0,1.0,1.0
15,4.094345,0,1,2,1.5,4,1,True,1,0,1.0,1.0
16,4.317488,14,1,2,1.0,4,2,False,1,0,1.0,1.0
17,4.595120,17,1,2,2.0,4,2,True,0,0,1.0,1.0
18,4.882802,0,0,2,1.0,4,2,True,4,0,1.0,2.0
19,4.595120,12,0,8,1.0,4,2,True,4,1,3.0,3.0

In [17]:
X = df2.drop(["log_price"],axis =1)
y = df2.log_price
y.head()

0    5.010635
1    5.129899
2    4.976734
3    6.620073
4    4.744932
Name: log_price, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_squared_error

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=100)

In [20]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)

In [21]:
X_test=sc.transform(X_test)

In [22]:
def check_test_score(model):
    pred=model.predict(X_test)
    print("R2 Score is:", r2_score(y_test,pred))
    print("Mean Squared Error is :",mean_squared_error(y_test,pred))
    print("Mean Absolute Error is :",mean_squared_error(y_test,pred))
    print("Root Mean Square Error is :",mean_squared_error(y_test,pred))

Random Forest

In [23]:
rf = RandomForestRegressor()
#y_pred_rf = rf.predict(X_test)
#xg_boost=XGBRegressor()
rf.fit(X_train,y_train)
check_test_score(rf)

R2 Score is: 0.5567389250917357
Mean Squared Error is : 0.22861911437249274
Mean Absolute Error is : 0.22861911437249274
Root Mean Square Error is : 0.22861911437249274

XGBoost

In [24]:
xg_boost=XGBRegressor()
xg_boost.fit(X_train,y_train)
check_test_score(xg_boost)

R2 Score is: 0.5877583963074937
Mean Squared Error is : 0.21262031718707042
Mean Absolute Error is : 0.21262031718707042
Root Mean Square Error is : 0.21262031718707042

In [25]:
sc=StandardScaler()
X=sc.fit_transform(X)

In [26]:
model=XGBRegressor()

In [27]:
model.fit(X,y)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [28]:
model.score(X_test,y_test)

0.0611915389190536

In [29]:
import pickle

In [30]:
with open("my_model.pkl","wb") as f:
    pickle.dump(model,f)
with open("my_scalar.pkl","wb") as f:
    pickle.dump(sc,f)

In [31]:
df2

,log_price,property_type,room_type,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,instant_bookable,bedrooms,beds
0,5.010635,0,0,3,1.0,4,2,True,4,0,1.0,1.0
1,5.129899,0,0,7,1.0,4,2,True,4,1,3.0,3.0
2,4.976734,0,0,5,1.0,4,1,True,4,1,1.0,3.0
3,6.620073,12,0,4,1.0,4,0,True,5,0,2.0,2.0
4,4.744932,0,0,2,1.0,4,1,True,2,1,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
73998,4.605170,0,1,1,1.0,4,0,False,4,0,1.0,1.0
73999,5.043425,0,0,4,2.0,4,1,True,3,0,2.0,4.0
74000,5.220356,0,0,5,1.0,4,1,True,4,1,2.0,2.0
74001,5.273000,0,0,2,1.0,4,2,True,4,1,0.0,2.0
74002,4.852030,2,0,4,1.0,4,1,False,3,0,1.0,2.0

In [32]:
# Create mappings for property_type
property_type_map = {
    'Apartment':0,
    'Bed & Breakfast':1,
    'Boat':2,
    'Boutique hotel':3,
    'Bungalow':4,
    'Cabin':5,
    'Camper/RV':6,
    'Condominium':7,
    'Dorm':8,
    'Guest suite':9,
    'Guesthouse':10 ,
    'Hostel':11,
    'House':12,
    'In-law':13,
    'Loft':14,
    'Other':15,
    'Timeshare':16,
    'Townhouse':17,
    'Villa':18
}

# Create mappings for room_type
room_type_map = {
    'Entire home/apt': 0,
    'Private room': 1,
    'Shared room': 2
}

# Create mappings for bed_type
bed_type_map = {
   'Airbed':0,
   'Couch':1,
   'Futon' :2,
   'Pull-out Sofa':3,
   'Real Bed': 4
}

# Create mappings for cancellation_policy
cancellation_policy_map = {
    'flexible': 0,
    'moderate': 1,
    'strict': 2
}

# Create mappings for cleaning_fee
cleaning_fee_map = {
    'False':0, 
    'True':1
}

# Create mappings for city
city_map = {
    'Boston':0,
    'Chicago':1,
    'DC':2,
    'LA':3,
    'NYC':4,
    'SF':5
}

# Create mappings for instant_bookable
instant_bookable_map = {
    'f': 0,
    't': 1
}

In [33]:
city_map

{'Boston': 0, 'Chicago': 1, 'DC': 2, 'LA': 3, 'NYC': 4, 'SF': 5}

In [37]:
Pause=True

while Pause:
    values=[]
    a=input("City")
    values.append(city_map[a])
    a=input("Property_Type")
    values.append(property_type_map[a])
    a=input("Room_Type")
    values.append(room_type_map[a])
    a=int(input("Accomodates"))
    values.append(a)
    a=input("Bed_Type")
    values.append(bed_type_map[a])
    a=input("Beds")
    values.append(a)
    a=input("Bedrooms")
    values.append(a)
    a=int(input("Bathrooms"))
    values.append(a)
    a=input("Cancellation_Policy")
    values.append(cancellation_policy_map[a])
    a=input("Cleaning_Fee")
    values.append(cleaning_fee_map[a])
    a=input("Instant_Bookable")
    values.append(instant_bookable_map[a])
    Pause=False

In [38]:
val=sc.transform([values])

c:\Users\Computer World\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [39]:
model.predict(val)

array([4.6058035], dtype=float32)

In [40]:
property = list(data["property_type"].unique())

In [41]:
property

['Apartment',
 'House',
 'Condominium',
 'Loft',
 'Townhouse',
 'Hostel',
 'Guest suite',
 'Bed & Breakfast',
 'Bungalow',
 'Guesthouse',
 'Dorm',
 'Other',
 'Camper/RV',
 'Villa',
 'Boutique hotel',
 'Timeshare',
 'In-law',
 'Boat',
 'Cabin']

In [42]:
for ptype in property:
    print(f"""<option value="{ptype}">{ptype}</option>""")

<option value="Apartment">Apartment</option>
<option value="House">House</option>
<option value="Condominium">Condominium</option>
<option value="Loft">Loft</option>
<option value="Townhouse">Townhouse</option>
<option value="Hostel">Hostel</option>
<option value="Guest suite">Guest suite</option>
<option value="Bed & Breakfast">Bed & Breakfast</option>
<option value="Bungalow">Bungalow</option>
<option value="Guesthouse">Guesthouse</option>
<option value="Dorm">Dorm</option>
<option value="Other">Other</option>
<option value="Camper/RV">Camper/RV</option>
<option value="Villa">Villa</option>
<option value="Boutique hotel">Boutique hotel</option>
<option value="Timeshare">Timeshare</option>
<option value="In-law">In-law</option>
<option value="Boat">Boat</option>
<option value="Cabin">Cabin</option>

In [43]:
len(property)

19

In [44]:
def predict_price(city, property_type, room_type, accommodates, bed_type, beds, bedrooms, 
                  bathrooms, cancellation_policy, cleaning_fee, instant_bookable):
    property_type_numeric = property_type_map.get(property_type, -1)
    room_type_numeric = room_type_map.get(room_type, -1)
    bed_type_numeric = bed_type_map.get(bed_type, -1)
    cancellation_policy_numeric = cancellation_policy_map.get(cancellation_policy, -1)
    city_numeric = city_map.get(city, -1)
    instant_bookable_numeric = instant_bookable_map.get(instant_bookable, -1)

    # Create a dictionary with the input features
    input_data = {
        'city': [city_numeric],
        'property_type': [property_type_numeric],
        'room_type': [room_type_numeric],
        'accommodates': [accommodates],
        'bed_type': [bed_type_numeric],
        'beds': [beds],
        'bedrooms': [bedrooms],
        'bathrooms': [bathrooms],
        'cancellation_policy': [cancellation_policy_numeric],
        'cleaning_fee': [cleaning_fee],
        'instant_bookable': [instant_bookable_numeric]
    }

    # Create a DataFrame from the input data
    input_df = pd.DataFrame(input_data)

    # Use the trained CatBoost model to make a price prediction
    price_prediction = xg_boost.predict(input_df)
    print(price_prediction[0])
    return np.exp(price_prediction[0])

# Example usage:
predicted_price = predict_price(
    city= 'Boston', property_type= 'Apartment', room_type= 'Shared room', accommodates= 7, bed_type= 'Real Bed', 
    beds=3, bedrooms=3,  bathrooms= 1, cancellation_policy= 'strict', cleaning_fee=True, instant_bookable=1)

print(f'Predicted Price: ${predicted_price:.2f}')

7.8455067
Predicted Price: $2554.23